/*--------------
  $breakpoint
--------------*/
@mixin xxl {
  @media (max-width:1400px) {
    @content;
  }
}

@mixin xl {
  @media (max-width:1200px) {
    @content;
  }
}

@mixin lg {
  @media (max-width:992px) {
    @content;
  }
}

@mixin md {
  @media (max-width:767px) {
    @content;
  }
}

@mixin sm {
  @media (max-width:576px) {
    @content;
  }
}

@mixin xs {
  @media (max-width:375px) {
    @content;
  }
}

@mixin xxs {
  @media (max-width:351px) {
    @content;
  }
}

/*--------------
  $color
--------------*/
$primary: #62DB54;
$secondary: #202020;
$info: #09ACF5;

@mixin title ($fz: 1.75rem, $lh: 2.5rem){
  font-size: $fz;
  line-height: $lh;
  font-weight: bold;
}

@mixin text ($fz: 18px, $lh: 26px) {
  font-size: $fz;
  line-height: $lh;
}

@mixin square ($top, $left){
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}

@mixin text-gradient {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to top, $primary , $info);
}

/*--------------
  $base
--------------*/
body{
  background-color: $secondary;
}
img{
  max-width: 100%;
}
a{
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

.py-8{
  @include md{
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
}
