.question{
  max-width: 856px;
  margin-bottom: 80px;
  @include md {
    margin-bottom: 64px;
  }

  &-title{
    @include title();
    @include title-2();
    margin-bottom: 32px;
  }
  &-subtitle{
    @include title(24px, 36px);
    margin-bottom: 24px;
  }
  &-list{
    h3{
      @include title(20px, 30px);
    }
    p{
      @include text(16px, 24px);
      margin: 8px 0 32px;
    }
  }
}